@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700&display=swap&subset=arabic');
body {
    font-family: $default-font-family;
    font-weight: 400;
    font-size: 1.6rem !important;
    overflow: auto;
    // color: $color-grey-dark;
}

@if $site-language == arabic {
    body {
        font-family: $arabic-font-family;
    }    
}
