.footer {
    padding: 1rem 0;
    background-color: #252525;

    &__container {
        display: flex;
    }
    .social-media {
        margin-right: auto;
        a {
            text-decoration: none;
        }

        img {
            height: 25px;
            margin-right: 1rem;
        }
    }

    .copy-right {
        color: $color-white;
        font-size: 15px;
        text-align: right;
    }
}

@media (max-width:767px) {
    .footer {
        &__container {
            flex-direction: column;
        }
        .social-media {
            margin: 0 auto 1rem;
        }
        .copy-right {
            text-align: center;
        }
    }
}