.header {
    background-image: linear-gradient(rgb(47, 47, 47),
            rgba(255, 255, 255, 0.2)),
        url(../image/header-cover2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    margin-top: -135px;

    &__content {
        font-family: $title-font-family;
        text-align: center;
        display: flex;
        color: $color-white;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .text-container {
            margin-top: 8rem;

            h3 {
                font-size: 3rem;
            }

            h1 {
                font-size: 7.6rem;
                color: $color-primary-light;
                margin-top: 1.5rem;
            }
        }


        .header-btn {

            &:link,
            &:visited,
            &:active {
                width: 5rem;
                height: 5rem;
                border: 1.5px solid #ffffff;
                font-size: 2.8rem;
                padding: 2px;
                border-radius: 50%;
                text-align: center;
                text-decoration: none;
                color: #fff;
                line-height: 1.6;
                transform: translateY(4rem);
            }
            
            img {
                transition: all .3s ease-in-out;
                height: 2.4rem;
            }

            &:hover img {
                transform: translateY(.5rem);
            }
        }
    }
}

@media (max-width:1140px) {
    .header {
        margin-top: -97px;
    }
}

@media (max-width:567px) {
    .header {
        margin-top: -70px;
    }
}