.header {
    background-image: -webkit-gradient(linear,
            left top, left bottom,
            from(rgb(47, 47, 47)),
            to(rgba(255, 255, 255, 0.2))),
        url(../image/header-cover2.jpg);
    background-image: -o-linear-gradient(rgb(47, 47, 47),
            rgba(255, 255, 255, 0.2)),
        url(../image/header-cover2.jpg);
    background-image: linear-gradient(rgb(47, 47, 47),
            rgba(255, 255, 255, 0.2)),
        url(../image/header-cover2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    margin-top: -135px;

    &__content {
        font-family: $title-font-family;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: $color-white;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;

        .text-container {
            margin-top: 8rem;

            h3 {
                font-size: 3rem;
            }

            h1 {
                font-size: 7.6rem;
                color: $color-primary-light;
                margin-top: 1.5rem;
            }
        }


        .header-btn {

            &:link,
            &:visited,
            &:active {
                width: 5rem;
                height: 5rem;
                border: 1.5px solid #ffffff;
                font-size: 2.8rem;
                padding: 2px;
                border-radius: 50%;
                text-align: center;
                text-decoration: none;
                color: #fff;
                line-height: 1.6;
                -webkit-transform: translateY(4rem);
                -ms-transform: translateY(4rem);
                transform: translateY(4rem);
            }

            img {
                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                height: 2.4rem;
            }

            &:hover img {
                -webkit-transform: translateY(.5rem);
                -ms-transform: translateY(.5rem);
                transform: translateY(.5rem);
            }
        }
    }
}

@media (max-width:1140px) {
    .header {
        margin-top: -97px;
    }
}

@media (max-width:567px) {
    .header {
        margin-top: -70px;


        &__content {
            .text-container {
                h1 {
                    font-size: 5.6rem;
                }

                h3 {
                    width: 95%;
                    margin: auto;
                }


            }
        }
    }
}

@media (max-width:375px) {
    .header {
        &__content {
            .header-btn {

                &:link,
                &:visited,
                &:active {
                    -webkit-transform: translateY(2.5rem);
                    -ms-transform: translateY(2.5rem);
                    transform: translateY(2.5rem);
                }
            }
        }
    }
}

@media (max-width:320px) {
    .header {
        &__content {
            .text-container {
                h1 {
                    font-size: 4.5rem;
                }
            }

            .header-btn {

                &:link,
                &:visited,
                &:active {
                    -webkit-transform: translateY(1.5rem);
                    -ms-transform: translateY(1.5rem);
                    transform: translateY(1.5rem);
                }
            }
        }
    }
}