.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3rem;

    &__logo {
        width: 9rem;
        margin-left: 6rem;
    }

    &__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 6rem;
        list-style: none;
        text-transform: capitalize;
    }

    &__item {
        margin-right: 2rem;
    }

    &__link {
        &.lang {
            font-size: 14px;
        }

        &:link,
        &:visited,
        &:active {
            color: $color-white;
            text-decoration: none;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

            img {
                height: 21px;
                transform: translateY(-1px);
                margin-left: 3px;
            }
        }

        &:hover {
            color: $color-primary-dark;
        }
    }

    .active {
        color: $color-primary-dark !important;
        font-weight: bold;
    }


}

#navigation__inner {
    background-color: $color-white;
    padding: .5rem 0;
    font-weight: bold;
    font-size: 15px;

    .navigation__link {

        &:link,
        &:visited,
        &:active {
            color: #000;
        }

        &:hover {
            color: $color-primary-dark;
        }
    }

}

@media (max-width: 1140px) {
    .navigation {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 99999;
        background-color: $color-white;
        padding: 1rem;
        border-bottom: 1px solid #ccc;

        &__logo {
            margin-left: 4rem;
        }

        &__nav {
            position: relative;
            position: fixed;
            background-color: $color-white;
            right: 0;
            top: 95.6px;
            width: 30rem;
            height: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 0;
            text-align: center;
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translateX(100%);
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            border-left: 1px solid #ccc;

        }

        &__link {

            &:link,
            &:visited,
            &:active {
                margin-top: 3rem;
                display: block;
                color: #202020;
                font-size: 20px;
                font-weight: bold;
            }

            &:hover {
                color: $color-primary-dark;
            }
        }

        .collapse-btn {
            position: relative;
            right: 4rem;
            margin-bottom: 0px;
            cursor: pointer;
            width: 34px;
            height: 30px;

            .wrapper {
                width: 100%;
                height: 100%;

                .line {
                    position: absolute;
                    width: 2.8rem;
                    height: 4px;
                    background-color: #343434;
                    border-radius: 4px;
                    transition: all cubic-bezier(.26, .1, .27, 1.55) .35s;

                    &.top {
                        top: 18%;
                    }

                    &.middle {
                        top: 48%;
                    }

                    &.bottom {
                        top: 78%;
                    }
                }
            }

            .icon.close_ .top {
                transform: rotate(45deg);
                top: 48%;
            }

            .icon.close_ .middle,
            .icon.close_ .bottom {
                transform: rotate(-45deg);
                top: 48%;
            }
        }

        .open {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }

    #navigation__inner {
        .navigation__nav {
            top: 86px;
        }
    }

}

@media (max-width: 567px) {
    .navigation {
        padding: .5rem;

        &__logo {
            width: 8rem;
        }

        &__nav {
            width: 100%;
            top: 69.6px
        }
    }

    #navigation__inner {
        .navigation__nav {
            top: 69.6px;
        }
    }

}
