.btn {

    &:link,
    &:visited,
    &:active {
        cursor: pointer;
        text-decoration: none;
        color: $color-white;
        padding: 1.2rem 5rem;
        font-weight: bold;
        font-size: 1.3rem;
        transition: all .3s;
    }

    &:hover {
    }

    &:focus {
        outline: 0;
        border: none;
        box-shadow: none;
    }

    &__primary {}

}