.btn__primary {

    &:link,
    &:visited,
    &:active {
        cursor: pointer;
        text-decoration: none;
        color: $color-primary-light ;
        padding: 1rem 1.5rem;
        font-weight: bold;
        font-size: 1.5rem;
        transition: all .3s ease-in-out;
        border: 1px solid $color-primary-light;
        text-transform: capitalize
    }

    &:hover {
        color: $color-white;
        background-color: $color-primary-dark;
    }

    &:focus {
        outline: 0;
        border: none;
        box-shadow: none;
    }

    &__primary {}

}