.project-details {
    background-color: $color-grey-light-1;
    padding: 4rem;

    &__title {

        font-size: 2.8rem;
        color: $color-primary-light;
        text-transform: capitalize;
        margin-bottom: 2rem;

        &--small {
            font-size: 1.7rem;
            margin-bottom: .5rem;

        }
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    &__sub-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        div:nth-of-type(2) {
            margin-left: auto;
            margin-right: 10rem;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 24%;
            flex: 0 0 24%;
        }
    }
}

@if $site-language==arabic {
    .project-details {
        direction: rtl;
        text-align: right;
    }

    .project-details__sub-container div:nth-of-type(2) {
        margin-right: auto;
        margin-left: 10rem;
    }
}

@media (max-width:700px) {
    .project-details {
        &__sub-container {
            div:nth-of-type(1) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;

            }
            div:nth-of-type(2) {
                margin-left: 2rem;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
            }
        }
    }
}