.about-section {
    padding: 7rem 0;
    background-color: $color-grey-light-1;
    text-align: center;
}

.solutions-section {
    padding: 7rem 0;
    background-color: $color-grey-dark;

    background-image:linear-gradient(rgba($color-black, .9), rgba($color-black, .8)) , url(../image/solutions2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    .solutions__title {
        font-family: 'Raleway', sans-serif !important;
        color: $color-primary-light;
        font-weight: 700;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 2rem;
        text-align: center;

    }

}